@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

html,
body {
  background: var(--bs-neutral-100);
  font-family: "Plus Jakarta Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.mobile-nav-toggler {
  display: none;
}

.mobile-menu {
  display: none;
}

.container-fluid {
  width: 1280px;
  margin: 0 auto;
}

/* .main-wrapper {
  height: 100vh;
} */

.search_icon {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.search-field .form-control {
  padding: 0.532rem 36px;
  border: 1px solid var(--bs-neutral-300) !important;
}

.search-field .form-group,
.select-field .form-group {
  width: 230px;
}

.ad-wrapper {
  width: 100%;
  height: 120px;
}

.table-responsive {
  .zone {
    width: 80px;
  }

  .title {
    width: 300px;
  }

  .payment {
    width: 100px;
  }

  .done {
    width: 120px;
  }

  .time {
    width: 100px;
  }

  .tbprogress {
    width: 120px;
  }

  .rated {
    width: 84px;
  }

  .status {
    width: 80px;
  }

  .cost {
    width: 60px;
  }
}

.navbar-wrapper .profile-icon {
  img {
    width: 40px !important;
    height: 40px !important;
  }
}

.navbar-wrapper {
  .navbar-nav {
    flex-direction: row;
    gap: 20px;
  }

  .navbar-nav .nav-item .nav-link:hover,
  .navbar-nav .nav-item .nav-link.active {
    color: var(--bs-primary-500);
    position: relative;
  }

  .navbar-nav .nav-item .nav-link {
    color: var(--bs-neutral-900);
    font-weight: 600;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 2px 6px;
  }

  .navbar-nav .dropdown-menu {
    margin-top: 0px !important;
  }
}

/* 
.navbar-nav .nav-item:hover .dropdown-menu {
  display: block;
  position: absolute !important;
  margin-top: 0 !important;
} */
.navbar-nav .dropdown-menu {
  position: absolute !important;
}

.navbar-nav .nav-item:hover .dropdown-menu {
  display: block;
  margin-top: 0 !important;
}

.short-menu {
  width: 1280px;
  position: fixed;
  top: 89px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  /* background: var(--bs-primary-100); */
}

.feature-menu {
  width: 540px;
  height: 42px;
  background: transparent;
  position: relative;
}

.feature-menu-content {
  position: absolute;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px;
  color: var(--bs-neutral-300);
}

.dashboard {
  padding-top: 148px;
}

.navbar-wrapper {
  width: 100%;
  height: 88px;
  background: var(--bs-white);
  position: fixed;
  top: 0;
  right: 0px;
  z-index: 998;
  transition: 0.4s all;
  box-shadow: 0px 5px 10px 0px #0000000f;
}

.all-task .card {
  padding: 14px;
}

.mobile-logo {
  display: none !important;
}

.ad-wrapper.mobile {
  display: none;
}

.action-menu {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-action .badge {
  position: absolute;
  top: 0px;
  right: 0px;
  border-radius: 50%;
}

.mobile-nav {
  display: none;
}

.footerContainer {
  background: var(--bs-neutral-900);
  padding: 50px 0 30px 0;
  margin-top: 160px;
}

.footer-top {
  border-bottom: 1px solid #cbd5e1;
}

.social-icon i {
  font-size: 32px;
}

.footer-bottom .link a {
  color: var(--bs-white);
  font-size: 16px;
}

.footer-top .sort-summary .summary {
  border-left: 1px solid #cbd5e1;
  padding-left: 24px;
}

.footer-menu {
  display: none;
}

.footerContainer .social-media,
.footerContainer .company {
  padding-left: 48px;
}

.table-responsive .table tbody a {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}

.main-wrapper {
  min-height: calc(100vh - 452px);
}

.job-submiting .job-description {
  width: calc(100% - 355px);
  height: fit-content;

  ul {
    li {
      display: flex;
      gap: 8px;
      align-items: center;

      p {
        width: calc(100% - 18px);
      }
    }

    li::before {
      content: "";
      display: inline-block;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: var(--bs-danger-500);
    }
  }
}

.job-submiting .job-summary {
  width: 330px;
  padding-top: 30px;
}

.job-summary {
  .cardRow {
    .fa-earth-americas {
      margin-top: 2px;
    }
  }
}

.taskburg-ans .card {
  background: var(--bs-primary-500);
  color: var(--bs-white);
}

.attach-file.dragDrop-area {
  width: 140px;
  height: 36px;
  border: 2px solid var(--bs-primary-300);
  border-radius: 4px;
  background: var(--bs-white);
}

.marquee-message {
  width: 100%;
  padding: 10px;
  background: var(--bs-primary-500);
  border-radius: 4px;
  color: var(--bs-white);
}

.example-Screenshot .images {
  width: 134px;
  height: 80px;
  border-radius: 4px;

  img {
    border-radius: 4px;

  }
}

#imageModal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  /* width: 100%;
  height: auto; */
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 999;
  cursor: pointer;
}

#modalImage {
  border: 5px solid white;
  border-radius: 10px;
  width: 80%;
  height: auto;
}

.post-job .contactForm {
  width: calc(100% - 355px);
}

.post-job .jobSummary {
  width: 330px;
}

.target_zone,
.task-category {
  flex-wrap: wrap;
}

.contactForm .target_zone {
  .form-check {
    padding-left: 0;
    width: fit-content;
  }

  .form-check-label {
    font-weight: 400;
    color: var(--bs-neutral-900);
    cursor: pointer;
    font-size: 14px;
    padding: 10px 24px;
    border: 1px solid var(--bs-neutral-300);
    border-radius: 4px;
    background: var(--bs-white);
  }

  .form-check-input:checked+.form-check-label {
    border: 1px solid var(--bs-primary-500);
    background: #E6ECF5;
    color: var(--bs-primary-500);
  }
}

.form-action {
  .nextBtn {
    width: 160px !important;
  }
}

.jobSummary .lists {
  .selected {
    row-gap: 3px !important;

    span {
      font-size: 14px;
      line-height: 16px;
      color: var(--bs-neutral-900);
    }
  }
}

.jobSummary .country-lists {
  p {
    width: 64px;
  }

  .selected {
    width: calc(100% - 72px);
  }
}

.jobSummary .category-lists {
  p {
    width: 74px;
  }

  .selected {
    width: calc(100% - 82px);
  }
}

.jobSummary .sub-category-lists {
  p {
    width: 104px;
  }

  .selected {
    width: calc(100% - 112px);
  }
}

.jobSummary .note {
  background: var(--bs-danger-50);
  padding: 3px 4px;
}

/* step tracking */
.streamline {
  width: calc(100% - 180px);
  margin-left: 30px;
}

.streamline .step {
  height: 100%;
  width: 100%;
  display: flex;
  gap: 14px;
  position: relative;
  overflow: hidden;
  align-items: start;
}

.streamline .step .tracking_content {
  width: calc(100% - 54px);
}

.streamline .step .date-time p {
  color: var(--bs-neutral-500);
  font-size: 13px;
}

.streamline .step .step-icon::after {
  content: "";
  background: #d4dae1;
  width: calc(100% - 40px);
  height: 1px;
  display: block;
  /* position: absolute; */
  left: 40px;
  margin: 8px 0;
}

.streamline .step .step-icon {
  width: 100%;
  min-height: fit-content;
  max-height: fit-content;
  position: relative;
  display: flex;
  align-items: center;
}

.streamline .step .step-icon .step-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--bs-neutral-300);
  color: var(--bs-neutral-500) !important;
}

.streamline .step .step-icon .step-circle h6 {
  color: var(--bs-neutral-500);
}

.streamline .step .step-icon .step-circle.isComplete {
  border: 1px solid var(--bs-primary-500) !important;
}

.streamline .step .step-icon .step-circle.isComplete h6 {
  color: var(--bs-neutral-900) !important;
}

.streamline .step:last-child .step-icon::after {
  width: 0px;
  height: 0;
}

.tracking-steps {
  display: flex;
}

.btn.disabled,
.btn:disabled,
fieldset:disabled .btn {
  background-color: var(--bs-primary-500);
  opacity: 70%;
  cursor: not-allowed;
}

.step-tracker {
  width: 50%;
}

/* .streamline .step:last-child {
  width: 18%;
  height: 40px;
} */

/* step tracking */